@import "tailwindcss";

*{
  font-family: "Nunito", sans-serif;
}

a.active{
  color: rgb(130, 130, 255);
}

/* Remove arrows in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
.no-spinner[type=number] {
  -moz-appearance: textfield;
}
  
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
